@tailwind base;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@500&display=swap');

.theme-default-content {
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
  }
  .custom-container {
    border-left-width: 0;
    border-radius: 8px;
    position: relative;
    &:after {
      content: "";
      width: 3px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: var(--c-tip);
      height: 70%;
      border-radius: 0 4px 4px 0;
    }

    &.details {
      &:after {
        display: none;
      }
    }
    &.warning {
      &:after {
        background-color: var(--c-warning);
      }
    }
    &.tip {
      &:after {
        background-color: var(--c-tip);
      }
    }
    &.danger {
      &:after {
        background-color: var(--c-danger);
      }
    }
  }
  p {
    color: #2c3e50;
  }
  li {
    color: #2c3e50;
  }
}
.dark {
  .theme-default-content {
    p {
      color: #adbac7;
    }
    li {
      color: #adbac7;
    }
  }
}